@import "tailwindcss";
/* 
@theme {
  --font-manrope: var(--font-manrope);
  --color-primary: "#d87d4a";
  --color-primary-light: "#fbaf85";
  --color-dark: "#101010";
  --color-darker: "#000000";
  --color-light: "#f1f1f1";
  --color-lighter: "#ffffff";
} */

@theme {
  --color-primary: #d87d4a;
  --color-primary-light: #fbaf85;
  --color-dark: #101010;
  --color-darker: #000000;
  --color-light: #f1f1f1;
  --color-lighter: #ffffff;
  --color-border: #cfcfcf --font-manrope: var(--font-manrope);
  --breakpoint-mod: 1110px;
}
